body {
    padding: 0;
    margin: 0;
  }
  
  html, body, #sample_map {
    height: 100%;
  }
  
  .btn-group .button {
    background-color: #4CAF50; /* Green */
    border: 1px solid green;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    display: block;
  }
  
  .btn-group .button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
  
  .btn-group .button:hover {
    background-color: #3e8e41;
  }

  #inicio {
    position: absolute;
    top: 400px;
    right: 20px;
    padding: 10px;
    z-index: 400;
  }
  #fin {
    position: absolute;
    top: 500px;
    right: 20px;
    padding: 10px;
    z-index: 400;
  }
  #comienza {
    position: absolute;
    top: 600px;
    right: 20px;
    padding: 10px;
    z-index: 400;
  }

